.container {
    width: 100vw;
    height: 100vh;
    background: #8A2BA2;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}
.box {
    width: 200px;
    height: 253px; 
    background: #FFFFF0;
}
body {
    margin: 0px;
} 
#meu {
    text-align: center;
    font: 100% sans-serif;
    width: 70%;
    margin: 5%;
    padding: 18px 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: "`Palatino Linotype",
    "Book Antiqua", Palatino, serif;
    
}
.mano {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}
